* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

@media (max-width: 600px) {

  body {
    margin-top: 20px;
  }
}

.card {
  max-width: 400px;
  background-color: hsl(0, 0%, 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px;
}

@media (max-width: 600px) {

  .card {
    padding: 10px;
  }
}

img {
  margin-bottom: 20px;
  border-radius: 50%;
  width: 80px;

}

h3 {
  font-weight: 700;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin: 10px 0 30px;
}

.job {
  font-weight: 400;
  margin-bottom: 25px;
}

@media (max-width: 600px) {

  .job {
    font-size: 10px;
  }
}


.links {
  width: 100%;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 15px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: background .3s, color .3s;
}

.instagram {
  margin-bottom: 0;
}

a:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;

}